.iconify-modal {
  background: #f2f2f2;
  .modal-header {
    background: #fff;
  }
}

.iconify-modal-content {
  user-select: none;
  cursor: default;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-height: calc(100% - 36px);
  overflow: auto;
  padding: 16px;

  svg {
    display: inline-block;
  }

  a, button {
    cursor: pointer;
  }

  input, textarea {
    cursor: text;
  }
}
