.iconify-modal-content {
  user-select: none;
  cursor: default;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-height: calc(100% - 36px);
  overflow: auto;
  background: #f2f2f2;
  padding: 8px 16px; }
  .iconify-modal-content svg {
    display: inline-block; }
  .iconify-modal-content a, .iconify-modal-content button {
    cursor: pointer; }
  .iconify-modal-content input, .iconify-modal-content textarea {
    cursor: text; }
